* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  max-width: 640px;
  background-color: #ffffff;
  color: #333333;
  line-height: 1.6;
  padding: 20px;
  margin: auto;
}

h1, h2, h3 {
  color: #0053B3;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

#ingredients-label {
  color: #003470;
}

#filter-container, #search-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

select, input[type="text"], button {
  font-size: 1rem;
  padding: 8px 10px;
  border: 1px solid #0053B3;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 123, 255, 0.1);
  width: 100%;
  margin: 0 10px 0 1px;
}

label {
  font-weight: 600;
  min-width: 70px;
}

select:hover, input[type="text"]:hover, button:hover {
  border-color: #003470;
  box-shadow: 0 4px 8px rgba(0, 123, 255, 0.2);
}

button {
  background-color: #0053B3;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;
}

button:hover {
  background-color: #003470;
}

button:active {
  background-color: #004085;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-top: 20px;
  border-left: 3px solid #0053B3;
  padding-left: 20px;
  background-color: #f8f9fa;
  box-shadow: 2px 2px 8px rgba(0, 123, 255, 0.1);
  overflow-y: auto;
  position: relative
}

ul::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 20px;
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
  pointer-events: none;
}

li {
  padding: 10px 0;
  border-bottom: 1px solid #e1e5ea;
  margin-bottom: 6px;
  transition: background-color 0.3s;
}

li:last-child {
  border-bottom: none;
}

li:hover {
  background-color: #e9ecef;
}

#content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#meal-name {
  min-height: 120px;
  line-height: normal;
  overflow: visible;
  white-space: normal;
}